@media screen and (max-width: 900px) {
 #me p{
   font-size: 15px;
 }

 .web-dev p{
   font-size: 15px;
   padding-left: 12vw;
 }

 .vid-edit p{
   font-size: 15px;
   padding-right: 12vw;
 }

 #git .if-u{
   font-size: 20px;
 }

 #git p{
   font-size: 15px;
   padding: 2vw 2vw 4vw;
 }

 #footer .twt, .fb, .gm, .ig, .github, .yt{
   font-size: 20px;
   padding-bottom: 4vw;
   padding-right: 2vw;
 }

 #footer p{
   font-size: 15px;
 }
}